.column-layout {
    display: flex;
    flex-flow: column nowrap;
}

.row-layout {
    display: flex;
    flex-wrap: nowrap;
}

.spaced {
    justify-content: center;
    gap: 50px;
}

.centered {
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .spaced {
        gap: 5px;
    }
}