#board {
    background-color: var(--clear-1);
    border-radius: 5px;
    margin: 5px auto;
    touch-action: none;
}

#board-cont {
    width: 960px; 
    margin: 0px auto; 
    touch-action: none;
}